Q1. Create one variable containing following type of data:
(i) string
(ii) list
(iii) float
(iv) tuple

In [1]:
string ="string"
list = ["a","b","c"]
float = 12.5
tuple = (12,True ,12.2,"tip")

In [2]:
type(tuple)

tuple

Q2. Given are some following variables containing data:
(i) var1 = ‘ ‘
(ii) var2 = ‘[ DS , ML , Python]’
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
(iv) var4 = 1.

the data type of the above given variable

 Ans - 
 (i) str (ii) str (iii) list (iv) float

Q3. Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) **

In [4]:
#(i) / (Divider)

In [5]:
5/2

2.5

In [7]:
#(ii) // (Reamening)

In [8]:
5%2

1

In [9]:
#(iii) // (floor/ intejar divison)

In [10]:
5//2

2

In [11]:
#(iv) ** (Double Star /Power Operator)

In [12]:
5**2

25

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [28]:
l = ["mera","nam","chin","chin", True , 211,12.2,12+1j,12,"Hello" ]
for i in l :
    print( (i),type (i))

mera <class 'str'>
nam <class 'str'>
chin <class 'str'>
chin <class 'str'>
True <class 'bool'>
211 <class 'int'>
12.2 <class 'float'>
(12+1j) <class 'complex'>
12 <class 'int'>
Hello <class 'str'>

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [5]:
# Create a list of 25 integers
numbers = [17, 8, 9, 33, 14, 12, 21, 25, 6, 19, 30, 11, 5, 27, 13, 22, 16, 3, 20, 7, 18, 24, 29, 10, 15]

# Iterate over each element in the list
for num in numbers:
    if num % 3 == 0:
        print(f"{num} is divisible by 3")
    else:
        print(f"{num} is not divisible by 3")

17 is not divisible by 3
8 is not divisible by 3
9 is divisible by 3
33 is divisible by 3
14 is not divisible by 3
12 is divisible by 3
21 is divisible by 3
25 is not divisible by 3
6 is divisible by 3
19 is not divisible by 3
30 is divisible by 3
11 is not divisible by 3
5 is not divisible by 3
27 is divisible by 3
13 is not divisible by 3
22 is not divisible by 3
16 is not divisible by 3
3 is divisible by 3
20 is not divisible by 3
7 is not divisible by 3
18 is divisible by 3
24 is divisible by 3
29 is not divisible by 3
10 is not divisible by 3
15 is divisible by 3

Immutable Data Types:

Immutable data types are those whose values cannot be modified once they are assigned.

Any attempt to modify an immutable object will result in the creation of a new object with the updated value.

Examples of immutable data types in Python include integers, floats, booleans, strings, and tuples.

Here's an example to illustrate immutability using a string:

In [6]:
name = "Alice"
print(name)  # Output: Alice

# Attempt to modify the string
name[0] = "B"  # This will raise a TypeError

# The original string remains unchanged
print(name)  # Output: Alice

Alice

TypeError: 'str' object does not support item assignment