Q 1 . How can we store a s1ngle quote (‘) as a str1ng 1n a var1able?

In [6]:
a = " ' "

In [7]:
a

" ' "

Q 2 . Refer the below var1able:
x = ‘a(
Here, 1s x a character type or str1ng type var1able? Support your answer w1th an explanat1on.

In [8]:
x = "a"

In [9]:
x

'a'

In [10]:
type(x)

str

ans = str

Q3 . Apply the follow1ng funct1ons on th1s var1able: ‘Welcome to Python foun at1on course'
1. f1n ()
2. count()
3. len()
4. Concatenat1on
Note: You can use your cho1ce of parametersQ But make sure 1t 1s correct.

In [21]:
ta = "Welcome to Python foundation cours"

In [22]:
ta.find("to")

8

In [23]:
ta.count("o")

6

In [24]:
len(ta)

34

In [32]:
t = "pw"

In [33]:
ta + t

'Welcome to Python foundation courspw'

Q4 . For the var1able: wor = ‘PanaJ1@12256'
Calculate the follow1ng:
(a) Total number of alphabets 1n lowercase
(b) Total number of alphabets 1n uppercase
(c) Total number of numer1cal 1n str1ng

In [40]:
wor = "PanaJ1@12256"

In [41]:
wor.upper()

'PANAJ1@12256'

Q5. Wr1te a co e to store a numer1cal value 1ns1 e a var1able then convert 1t 1nto str1ngQ

In [ ]:
a =